<div
  style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  "
>
  <div class="col-md-4">
    <canvas #canvas id="canvas"></canvas>
  </div>
  <div class="col-md-3">
    <form
      [formGroup]="otherDataForm"
      (ngSubmit)="onSubmit()"
      class="form-group mb-3"
    >
      <label for="width" class="mr-2">Dikdörtgenin genişliği (mm):</label>
      <input
        type="number"
        id="width"
        name="width"
        class="form-control form-control-sm"
        formControlName="width"
      />

      <label for="height" class="mr-2">Dikdörtgenin yüksekliği (mm):</label>
      <input
        type="number"
        id="height"
        name="height"
        class="form-control form-control-sm"
        formControlName="height"
      />

      <ng-container
        *ngIf="
          otherDataForm.controls['width'].value > 0 &&
          otherDataForm.controls['height'].value > 0
        "
      >
        <label for="horizontalLines" class="mr-2"
          >Yatayda kaç adet çizgi olsun:</label
        >
        <input
          type="number"
          id="horizontalLines"
          name="horizontalLines"
          class="form-control form-control-sm"
          formControlName="horizontalLines"
        />

        <label for="verticalLines" class="mr-2"
          >Dikeyde kaç adet çizgi olsun:</label
        >
        <input
          type="number"
          id="verticalLines"
          name="verticalLines"
          class="form-control form-control-sm"
          formControlName="verticalLines"
        />

        <!-- Yatay Mesafeler -->
        <ng-container
          *ngIf="otherDataForm.controls['horizontalLines'].value >= 0"
        >
          <div formGroupName="horizontalDistances">
            <ng-container
              *ngFor="let control of horizontalDistances.controls | keyvalue"
            >
              <label>
                {{
                  control.key === "distance_0"
                    ? "Yataydaki 1. çizginin dikdörtgen ile arasındaki mesafe kaç mm olmalı:"
                    : "Yataydaki " +
                      (parseInt(control.key.replace("distance_", "")) + 1) +
                      ". çizginin " +
                      parseInt(control.key.replace("distance_", "")) +
                      ". çizgi ile arasındaki mesafe kaç mm olmalı:"
                }}
                <input
                  type="number"
                  [formControlName]="control.key"
                  class="form-control form-control-sm"
                />
              </label>
            </ng-container>
          </div>
        </ng-container>

        <!-- Dikey Mesafeler -->
        <ng-container
          *ngIf="otherDataForm.controls['verticalLines'].value >= 0"
        >
          <div formGroupName="verticalDistances">
            <ng-container
              *ngFor="let control of verticalDistances.controls | keyvalue"
            >
              <label>
                {{
                  control.key === "distance_0"
                    ? "Dikeyde 1. çizginin dikdörtgen ile arasındaki mesafe kaç mm olmalı:"
                    : "Dikeyde " +
                      (parseInt(control.key.replace("distance_", "")) + 1) +
                      ". çizginin " +
                      parseInt(control.key.replace("distance_", "")) +
                      ". çizgi ile arasındaki mesafe kaç mm olmalı:"
                }}
                <input
                  type="number"
                  [formControlName]="control.key"
                  class="form-control form-control-sm"
                />
              </label>
            </ng-container>
          </div>
        </ng-container>

        <div id="isImageUploaded" class="hidden">
          <label class="mr-2">Resim Yüklencek Alan Numarası:</label>
          <input
            type="number"
            id="selectedAreaNumber"
            name="selectedAreaNumber"
            class="form-control form-control-sm"
            formControlName="selectedAreaNumber"
          />
        </div>

        <input
          class="form-control"
          type="file"
          id="imageUpload"
          accept="image/*"
          (change)="fileChangeEvent($event)"
        />
      </ng-container>

      <button style="margin-left: 0px" type="submit" class="btn btn-danger">
        Temizle
      </button>

      <button id="send-button" class="btn btn-success" (click)="sendToServer($event)">
        Kaydet
      </button>
      <button class="btn btn-success" (click)="loadImages()">
        Kaydedilenleri Getir
      </button>

      <a
        style="margin-left: 0px"
        href="https://github.com/users/furkancak1r/projects/1"
        target="_blank"
        class="btn btn-primary"
        >Github'a Git</a
      >
    </form>
  </div>
</div>

<table id="table" class="table hidden">
  <thead>
    <tr>
      <th scope="col">Get Button</th>
      <th scope="col">Width</th>
      <th scope="col">Height</th>
      <th scope="col">Horizontal Lines</th>
      <th scope="col">Selected Area Number</th>
      <th scope="col">Vertical Lines</th>
      <th scope="col">Horizontal Distances</th>
      <th scope="col">Vertical Distances</th>
      <th scope="col">Image Names</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let image of images; let i = index">
      <td>
        <button id="{{ 'index_' + i }}" (click)="get(image)">Get</button>
      </td>
      <td>{{ image.width }}</td>
      <td>{{ image.height }}</td>
      <td>{{ image.horizontalLines }}</td>
      <td>{{ image.selectedAreaNumber }}</td>
      <td>{{ image.verticalLines }}</td>
      <td>{{ image.horizontalDistances }}</td>
      <td>{{ image.verticalDistances }}</td>
      <td>{{ image.fileName }}</td>
    </tr>
  </tbody>
</table>
